.element {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 0.4rem;
}

.element:hover {
    background-color: gainsboro;
}

.selected {
    background-color: #c8cfd6;
}


.x {
    position: absolute;
    background-color: white;
    font-weight: bold;
    top:0;
    right:0;
    width:1em;
    height:1em;
}
