.host {
  background-color: orange;
  display: flex;
  justify-content: space-between;
}

#app-title {
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.toggle-title {
  line-height: 4rem;
}
