.link {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}

.link:hover {
  color: purple;
}

div {
  display: inline;
}

.whitespace {
  color: black;
  cursor: auto;
  text-decoration: none !important;
}
