:host {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

@media (min-width: 700px){
  :host {
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
