.show {
    display: block;
}

.hide {
    display: none;
}

.content {
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

@media (min-width: 700px){
  .content {
    display: flex;
  }

  .content {
    margin-top: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .content {
    margin-left: 0;
    margin-right: 0;
  }

}


