/* You can add global styles to this file, and also import other style files */
@import '~reset-css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: 'Raleway', sans-serif;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}
